# Don't auto-add markdown or data files, they must be explicitly added
*.md
*.json
*.txt
*.html

# Vim swap file
*.swp

# Generic stuff
*.zip

# Vim files
/config/.vim/autoload/**
/config/.vim/plugged/**
/config/.vim/view/**
